body {
    overflow: scroll;
    overflow-x: hidden;
}

.absoluta {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #8942a8;
}
.animation-area{
    background: linear-gradient(to left, #42a6a8, #7795f8, #012b38) ;
    width: 100vw;
    height: 110vh;

}
.box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    overflow: hidden;
    
}
.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.445);
    animation: animate 20s linear infinite;
    bottom: -160px;
}
.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

#AvisoIcon {
    position: relative;
    top: 60px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 30px;
    float: right;
    left: 300px;
    border: 2px solid white;

}

#AvisoIcon h3 {
    font-weight: 100;
    color: white;
}


.container {
    position: absolute;
    left: 55%;
    top: 83%;
    transform: translate(-55%);
    width: 1100px;
    height: 400px;
    background: transparent;
    overflow: hidden;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content:space-around;
    z-index: 22;
    align-items: center;
    
}

.card {
    background-image: linear-gradient(#333, #333);
    overflow:hidden;
    border-radius: 16px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



.card .img {
    background-image: url(../img/Automacao.png);
    
}

.card .img2 {
    background-image: url(../img/Pessoa\ Feliz.jpg);
   
}

.card .padrao {
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}



.card span {
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    text-transform: uppercase;
    
}


.card .content {
    padding: 0 20px;
    height: 0;
    overflow: hidden;
    transition: all .5s;
    transform: translateY(30px);
}

.card:hover .content {
    padding: 20px;
    height: 200px;  
    padding: 20px;
    opacity: 1;
    transform: translateY(0px);
    
    
}

.card:hover {
    border-radius: 20px;
}


.card .content p {
    margin-bottom: 0;
}

.card .content .titulo {
    font-size: 24px;
    font-weight:bold ;

}



.card .content .descricao {
    font-size: 14px;
    font-weight: 100;
    opacity: .7;
}

.card .arrow {
    padding: 20px ;
    text-align: center;
    font-size: 28px;
}

.centralizar {
    position: relative;
    height: 100vh;
    width:  94.9vw;
    float: right;
    
}
.Pagina {
    width: 100%;
    background-color: black;
    height: 120px;
}
.Pagina h1 {
    
    position: relative;
    text-align: center;
    font-size: 45pt;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    filter: drop-shadow(1px 1px  5px rgb(46, 45, 45));
    animation: surgirdecima .5s linear;
    font-weight: 100;
    
    

}

.maleta {
    width: 80px;
    position: relative;
    bottom: 60px;
    right: 90px;
}

.informacoes {
    position: relative;
    text-align: center;
    left: 28%;
    top: 15%;
    
    width: 600px;
    background: transparent;
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 20px;
    padding: 50px;
}


.informacoes h1 {
    padding: 10px;
    padding-bottom: 30px;
}

.informacoes h2 {
    font-weight: 100;
    
}

#futuro  {
    font-weight: 500;
    color: white;
    animation: doido 5s infinite ease;
}

.img {
    width: 100px;
    
}

.robo {
    position: relative;
    float: right;
    bottom: 23%;
    cursor: pointer;
    right: 80px;
    transition: all .5s;
    width: 200px;

}

.robo:hover {
    transform: scale(1.3);
    rotate: 10deg;
}

.pessoinha {
    position: relative;
    float: left;
    width: 200px;
    bottom: 140px;
    left: 40px;
    cursor: pointer;
    transition: all .5s;
}

.pessoinha:hover {
    transform: scale(1.3);
}

.foguete {
    position: relative;
    top: 110px;
    rotate: 90deg;
    right: 300px;
}

.foguete2 {
    position: relative;
    float: right;
    right: 100px;
    bottom: 200px;
    rotate: 180deg;
    z-index: 1;
}


.velocidade {
    position: absolute;
    z-index: 1;
    float: right;
    width:380px;
    height: 250px;
    left: 59%;
    border-radius: 10px;
    bottom: 25%;
    overflow: hidden;
    opacity: 0;
    box-shadow: 1px 1px 10px rgb(60, 60, 60);

}

.fogAnimado {
    position: relative;
    width: 80px;
    top: 35%;
    left: 20px;
    overflow: hidden;
    border-radius: 20%;
}

.textFoguete {
    position: relative;
    float: right;
    width: 250px;
    color: white;
    text-transform: capitalize;
    height:100%;
    font-size: larger;
    bottom: 25px;
  
   
}

.textFoguete h2 {
    position: relative;
    text-align: center;
    font-weight: 200;
    padding: 30px;
    top: 15%;
}

.linha {
    position: relative;
    float: right;
    width: 100%;
    height: 250px;
    bottom: 32px;
    background-image: linear-gradient(to top right, rgb(113, 151, 239), rgb(133,281, 248));
    z-index: 0;
    box-shadow: 1px 1px 10px black;
    
}

.container2 {
    position: relative;
    width: 100vw;
    height: 620px;
    left: 50px;
    top:115%;
    z-index: -2;
    background-image: url(../img/Fundo-trabalhos.jpg);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;

}

.container2 .oferecemos {
    position: absolute;
    width: 500px;
    height: 400px;
    left: 5%;
    top: 28%;
    text-transform: uppercase;
    
}

.oferecemos h2 {
    
    color: white;
    border-left: 5px solid aqua;
    font-weight: 100;
    font-size: 24pt;
    padding: 5px;
    
    padding-left: 20px;
}

.oferecemos div {
    position: relative;
    width: 94%;
    height: 88%;
    top: 10px;
    float: right;
}

.oferecemos h3 {
    position: relative;
    text-indent: 10px;
    color: white;
    font-weight: 100;
    left: 20px;
    text-align: justify;
}

.comprovarPreco {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 80px;
    float: right;
    width: 600px;
    bottom: 125%;
    height: 450px;
    right: 100px;

}

.comprovarPreco img {
    width: 250px;
    border-radius: 10px;
    border: 1px solid black;
    transition: all .5s, rotate .3s;
    
}

.comprovarPreco .IMG1 {
    rotate: 3deg;
}

.comprovarPreco .IMG2 {
    rotate:-2deg
}

.comprovarPreco .IMG4 {
    rotate: 4deg;
}



.comprovarPreco img:hover {
    transform: scale(1.2);
    z-index: 22;
    box-shadow: 0 0 10px black;
    rotate: 0deg;
}

.comprovarPreco div {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    bottom: 20px;
    
}

.oferecemos div span {
   filter: drop-shadow(0 0 4px #8511f2);
   color: aqua;
   font-size: 17pt;
}

.linha2 {
    position: relative;
    top: 100%;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to top right, rgb(113, 151, 239), rgb(133,281, 248));
    box-shadow: 0 0 10px;
}

.container3 {
    z-index: -22;
    position: absolute;
    top: 238%;
    background: url(../img/Fundo-trabalhos.jpg) no-repeat;
    left: 60px;
    background-size: cover;
    height: 95vh;
    width: 100vw;
}


.nossoProduto {
    position: absolute;
    left: 70px;
    height: 200px;
    top: 50px;
    
}

.nossoProduto h2 {
    border-left: 5px solid aqua;
    width: 500px;
    padding: 10px;
    font-weight: 200;
    font-size: 25pt;
    color: white;
    padding: 5px;
    padding-left: 20px;
   
}


.nossoProduto h3 {
    position: relative;
    text-indent: 10px;
    text-align: justify;
    text-transform: uppercase;
    left: 50px;
    font-weight: 100;
    top: 30px;
    font-size: 15pt;
    color: white;
    width: 500px;
   
    
}

.oqueAutomatizar {
    position: relative;
    float: right;
    
    right: 120px;
    top: 57%;
    color: white;
    width: 470px;
}

.oqueAutomatizar h2 {
    border-right: 5px solid aqua;
    padding: 10px;
    font-weight: 100;
    font-size: 20pt;
}

.oqueAutomatizar h3 {
    position: relative;
    font-weight: 100;
    text-align: justify;
    right: 30px;
    top: 20px;
    font-size: 14pt;
    text-transform: uppercase;
}

.imagens {
    position: relative;
    top: 60%;
    right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imagens img {
    width: 200px;
    padding: 40px;
    transition: all .5s;
   
}

.imagens img:hover {
    transform: scale(1.3);
    filter: drop-shadow(0 0 10px);
}

.NossoPreco {
    position: absolute;
    left: 55%;
    top: 10px;
 
    width: 500px;
    height: 200px;
}

.clip-path {
    position: absolute;
    width: 380px;
    border-radius: 20px;
   left: 50%;
   transform: translate(-50%);
    bottom: 30px;
    height: 200px;
    background: aqua;
    transition: all .5s;
    clip-path: polygon(14% 40%, 86% 39%, 98% 81%, 0 81%);
}

.clip-path h3 {
    position:relative;
    text-align: center;
    font-weight: 100;
    font-size: 21pt ;
    top: 50%;
    color:rgb(53, 53, 53);
    
}

.clip-path span {
    text-decoration: line-through;
 
}

.baixo {
    position: absolute;
    height: 200px;
    left: 50% ;
    top: 8.2em;
    transform: translate(-51%);
    width: 370px;
    background-color: yellow;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 81% 76%, 21% 77%, 0% 50%);
}

.baixo h3 {
    position: relative;
    text-align: center;
    top: 40px;
}

.baixo h3 span.apenas {
    position: relative;
    bottom: 30px;
    font-size: 18pt;
    

}

.baixo h3 span.preco49 {
    position: relative;
    font-size: 26pt;
    right: 5px;
    top: 5px;
    color:red;

}

.baixo h3 span.vagas {
    position: relative;
    top: 30px;
    right: 20px;
}
@keyframes  doido {
    0% {
        letter-spacing: 0;
    }

    50% {
        letter-spacing: 8px;
    }

    100% {
        letter-spacing: 0px;
    }
}
@keyframes surgirdecima {
    from {
        top: -50px;

    }
    to {
        top: 60px;
    }
    
}
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(180deg);
        opacity: 0;
    }
}

@media (max-height:650px) {
    .foguete {
        top: 100px;
    }

    .velocidade {
        bottom: 22%;
        backdrop-filter: blur(10px);
    }

    
}



